.taskcompletebutton{
    Padding: 10px;
    color:#1d3b4a;
    font-size: medium;
    font-weight: bold;
    border-color: #1d3b4a;

}
h2{
    color:#1d3b4a;
}
#thistaskName {
    font-size: medium;
    font-weight: bold;
}
#thisTaskDescription{
    font-size: medium;
    font-weight: bold;
}
#thistaskCompletionDate {
    font-size: medium;
    font-weight: bold;
}
#taskFieldset{
    padding: 1em;
}
#taskDescription{
    height: 2cm;
}
.task__delete{
    background-color: red;
    color: white;
}
#savetaskButton{
    background-color: #1d3b4a;
    color: white;
    box-shadow: 5px darkgray;
}
.editTask{
    background-color: #1d3b4a;
    color: white;
    box-shadow: 5px darkgray;
}
#saveEventButton{
    background-color: #1d3b4a;
    color: white;
    box-shadow: 5px darkgray;
}
.event__delete{
    background-color: red;
    color: white;
}
#saveArticle{
    background-color: #1d3b4a;
    color: white;
    box-shadow: 5px darkgray;
}